// Colors
$color-nav: rgb(93, 93, 255);
$color-nav-font-title: white;
$color-nav-font: rgb(221, 221, 221);
$color-bg: rgb(168, 168, 255);
$color-bg-section: white;
$color-nav-font-title: black;
$color-nav-font: rgb(39, 39, 39);

// TEST CODE DELETE LATER
$custom-green: rgb(30, 145, 30);

.testdiv {
  color: $custom-green;
}